{{!< layout}}
<div>
    <h1 style='color: Red'>Error</h1>
    <h3>Our apologies. There was a problem submitting your application.</h3>
    <p>We are looking into the problem, in the meantime please e-mail your Contact information and message to:</p>
    <ul>
        <li>Martin Hebig - <a href="mailto:mhebig@mavericksoftware.com">mhebig@mavericksoftware.com</a></li>
    </ul>
</div>
